.footer {
	text-align: center;
	margin: 20px auto;
	background: #f5f5f5;
	padding: 10px;
	border: 2px solid #E30D93;
	/*border-radius: 10px;*/
	max-width: 320px;
	color: #424242;
}

.slider {
	margin: 0 10px;
}

.ratingContainer {
	list-style: none;
	padding: 0;
	margin: 5px 0;
}

.ratingContainer li {
	display: inline-block;
}

.slider-selection {
	background: #E30D93;
}

.slider-track-high {
	background: lightgrey;
}

.slider-handle.custom {
	margin: 0 auto;
	height: 30px;
	box-shadow: none;
	-webkit-box-shadow: none;
	content: url("../images/pear-solo.png");
}

.tooltip-inner {
	visibility: hidden;
}

.tooltip-arrow {
	visibility: hidden;
}

.slider.slider-horizontal {
	max-width: 175px;
}
