.footer {
	text-align: center;
	margin: 20px auto;
	background: white;
	padding: 10px;
	border: 2px solid #D32F2F;
	border-radius: 10px;
	max-width: 320px;
}

.slider {
	margin: 0 10px;
}

.ratingContainer {
	list-style: none;
	padding: 0;
	margin: 5px 0;
}

.ratingContainer li {
	display: inline-block;
}

.slider-selection {
	background: #d32f2f;
}

.slider-track-high {
	background: lightgrey;
}

.slider-handle.custom {
	margin: 0 auto;
	height: 30px;
	box-shadow: none;
	-webkit-box-shadow: none;
	content: url("../images/pear-solo.png");
}

.tooltip-inner {
	visibility: hidden;
}

.tooltip-arrow {
	visibility: hidden;
}

.slider.slider-horizontal {
	max-width: 175px;
}
