.navbar-default  {
  background-color: #E30D93;
  border: 0 solid #E30D93;
  border-radius: 0;
  height: 60px;
  margin-bottom: 0;
}

a.navbar-brand {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

a.register-btn, a.login-btn, .nav>li>a {
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  font-weight: 600;
}

.btn-default {
  background-color: #E30D93;
  border: none;
}

.fa {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border: none;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

/*.navbar-form {
  box-shadow: none;
}
*/

@media (max-width: 767px) {
  .navbar-collapse {
    position: relative;
    z-index: 1;
    background-color: #E30D93;
  }
}

/* Added in header Tuesday 17:33 */
.navbar-form.navbar-left {
  display: inline-block;
  border: none;
  margin: 0;
  box-sizing: none;
}

.navbar-form, .navbar-collapse {
  box-shadow: none;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
  background-color: #E30D93;
}

.navbar-form.navbar-left input[type="button"], .navbar-form.navbar-left input[type="textbox"] {
  display: inline-block;
  width: initial;
}

a.navbar-brand img {
  margin: 0 15px;
}

@media (min-width: 768px) {
 .navbar-form.navbar-left {
   position: relative;
   top: 50%;
   transform: translateY(35%);
 }

 input#address.form-control {
   width: 400px;
 }
}

@media (max-width: 500px){
  .navbar-form.navbar-left input[type="textbox"] {
    width: 120px;
  }

  .navbar-form.navbar-left input[type="button"]{
    padding: 6px;
  }

  input#address.form-control {
    width: 120px;
  }
}

/*button.fa.fa-search {
  background-color: none;
  }*/

  .fa-search:hover {
    color: #fff;
    font-weight: 600;
  }

  .btn-default:active:hover, .btn-default:active, .btn-default:hover, .btn-default:focus {
    background-color: #E30D93;
    outline: 0 none;
    box-shadow: none;
  }
